.show {
    display: flex;
    flex-direction: column;
}


.row {
    flex-direction: row;
}

.dropdownbtn {
    background-color: darkcyan;
    border: none;
    padding: 1rem;
    cursor: pointer;

}

.dropdown {
    margin-right: 3rem;
}

.dropdownbtn:hover {
    background-color: rgb(9, 150, 150);
}

.dropdownbtn:active {
    background-color: rgb(16, 136, 136)
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    box-sizing: border-box;
    max-width: fit-content;
    cursor: pointer;
    height: 20vh;
    overflow-y: scroll;
    width: fit-content;
    overflow-x: hidden;

}

.drop-content>a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    outline: 0.2px solid black;
}


.drop-content a:hover,
.drop-content a:active {
    background-color: rgb(194, 194, 194);
    color: purple;
}

.drop-content::-webkit-scrollbar {
    width: 0.2rem;
}

.drop-content::-webkit-scrollbar-track {
    background-color: black;
}

.drop-content::-webkit-scrollbar-thumb {
    background-color: purple;
}

@media only screen and (max-width: 700px) {
    .drop-content>a {
        font-size: 2rem;
    }

    .drop-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
        height: 40vh;
    }

    .drop-content>a {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}