html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

:root {
    font-size: 16px;
    background-color: #FFFFFF;
    color: black;
    --accent: rgb(62, 172, 171);
    --accent2: rgb(11, 139, 137);
    --accent3: rgb(7, 94, 92);
    --accent4: #6CA8A7;
    --accent5: #2e9b99;
    --accent6: #aab5db;
    font-family: 'Roboto Slab', serif;


    --font-handwriting: 'Edu SA Beginner';
    scroll-behavior: smooth;



}

body {
    background-color: whitesmoke;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}


.head>a {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
}

.start_cont {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    padding-top: 2rem;
}

.start_cont>div {
    padding: 1rem;
    font-size: 1.3rem;
}

.booking_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 0.4em;
    min-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    width: 80%;

}

.booking_indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border: none;
    margin: 0.1em 0 0.1em 0;
    margin-left: 0.8em;
    margin-right: 0.8em;
    padding: 1em 0.5em 1em 0.5em;
    width: 60%;
    font-family: "Roboto Slab";
    /* white-space: nowrap; */
}

.booked {
    color: red;

}

.BookNow {
    color: white;
    background-color: var(--accent);
    border-radius: 15px;


}

.BookNow:hover {
    background-color: var(--accent2);
    cursor: pointer;
    transition: 0.2s;
}

.BookNow:active {
    background-color: var(--accent3);
    cursor: pointer;
}


.card-container {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
}


.card-head {
    display: flex;
    width: max-content;
    padding: 0.8rem;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--accent4);
    margin-left: 0.65rem;
    margin-top: 0.4rem;

}

.card-head>span {
    margin-left: 0.5rem;
    font-size: 150%;
    color: white;
}


.content {
    margin-top: 1rem;
    width: 90%;
    margin-left: 0.6rem;
    margin-bottom: 1rem;
    max-height: fit-content;
    /* margin: 1rem; */
}

.content>span {
    color: black;


}

.card {
    margin: 1rem;
    border: 1px black solid;
    border-radius: 10px;
    border-spacing: 10px;
    box-sizing: border-box;
    float: left;
    overflow: auto;
    box-shadow: 8px 10px 12px 01px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    background-color: #f5f5f5;
    max-width: fit-content;

}

.card:hover {
    box-shadow: 20px 18px 12px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.card:hover .card-head>img {
    transform: translate(-15%, -25%) rotate(-30deg);
    transition: all 0.3s ease-in-out;
}

.card:hover .card-head {
    background-color: var(--accent5);
}

.txt {
    /* margin-left: 2rem; */
    font-size: 1.3rem;
    text-align: center;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.btn {
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 1.2rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    border-radius: 10px;
    border: white 1px solid;
    padding: 0.7rem;
    font-family: "Edu SA Beginner";
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: var(--accent2);
    transition: 0.3ms;
}

.btn:active {
    background-color: var(--accent3);
}

.btn-holder {
    display: flex;
    width: 100%;
    justify-content: center;
}

hr {
    margin-top: 2.9rem;
    margin-bottom: 2.9rem;
}


body::-webkit-scrollbar {
    width: 0.3rem;
}


body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: purple;
}



.collapsible {
    width: 100%;
    display: flex;
    outline: none;
    border: none;
    min-height: fit-content;
    font-size: 2rem;
    margin: 0;
    border-radius: 0rem;
    background-color: var(--accent3);

}


.nav {
    display: flex;
    width: 100%;
    background-color: var(--accent3);
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: var(--accent);

}

.nav-item {
    text-decoration: none;
    list-style: none;
    padding: 0.4rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: centerx;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}



.nav-link {
    text-decoration: none;
    text-align: center;
    color: white;

}

.nav-item:first-child {
    margin-right: auto;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:last-child {
    margin-right: 1rem;
}

.sign-up-ref {
    background-color: var(--accent2);
    padding-right: 1.7rem;
    padding-left: 1.7rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: white solid 2px;
    border-radius: 1.3rem;
}







@media only screen and (max-width:700px) {
    html {
        width: 100%;
        display: flex;
        overflow-x: hidden;
    }

    .start_cont {
        flex-direction: column;
    }

    .image>img {
        max-width: 90vw;
    }

    .booking_indicator {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        font-size: 0.8rem;
    }

    .BookNow {
        padding: 0.2rem;
    }

    .booked {
        font-size: 0.5rem;
        transform: rotate(90deg);
    }

    .nav {
        display: none;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .booking_container {
        max-width: 100vw;


    }

    .booked {
        font-weight: lighter;
    }

    .body {
        width: 100vw;
        min-width: fit-content;
        margin: 0;
        position: fixed;
    }
}