<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/about.css" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Vacinate To Eradicate - About</title>
  </head>
  <a href="../index.html">
    <div class="logo">
      <img src="../images/reallogo.png" alt="logo" height="50rem" />
      <span>Vaccine Jet</span>
    </div>
  </a>
  <body>
    <div class="parallax"></div>

    <div class="main">
      <span class="head">Who</span>
      <span class="head">We</span>
      <span class="head">Are?</span>
    </div>
    <div class="parallax2"></div>

    <div class="main">
      <span
        ><strong>vaccinejet.org</strong> promotes vaccination and disease
        prevention by developing and disseminating safe and effective
        immunization services specifically vaccines.
        <strong>vaccinejet.org</strong> has also chalked out all the vaccines
        needed for major chronic diseases and helps users decide and know what
        vaccines to use. <strong>vaccinejet.org</strong> has supplied hundreds
        of thousands of vaccine drives all over the globe.</span
      >
    </div>
    <div class="parallax3"></div>

    <div class="user-attention">
      <div style="margin-bottom: 2rem; font-size: 1.5rem; margin-top: 2rem">
        Don't Procrastinate, Let's Vaccinate
      </div>
      <div class="btn-container">
        <a href="../templates/sign_up.html" class="btn">Sign Up</a>
        <a href="../index.html#range" class="btn">View Products</a>
      </div>
    </div>
    <div class="parallax4"></div>

    <div class="main"></div>
    <div class="parallax5"></div>
  </body>
</html>
