<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/buy.css" />
    <title>Get Vaccinate</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item" style="margin-bottom: 1rem; font-size: 1.5rem">
          <a href="" class="nav-link">
            <img src="../images/reallogo.png" alt="logo" width="40px" />
            ‎ ‎ ‎ Vaccinejet.org
          </a>
        </li>

        <li class="nav-item">
          <a href="#range" class="nav-link"> View Products </a>
        </li>

        <li class="nav-item">
          <a href="./templates/sign_up.html" class="nav-link">
            Know Your Vaccine</a
          >
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link"> About us </a>
        </li>

        <li class="nav-item sign-up-ref">
          <a href="#" class="nav-link"> Register / Log In </a>
        </li>
      </ul>
    </nav>

    <hr />

    <p class="header">For individuals Looking To Get Vaccinated</p>

    <div class="container">
      <div class="step_card">
        <div class="img">
          <img src="https://www.cowin.gov.in/assets/images/Step_1.svg" alt="" />
        </div>
        <div class="main">
          Book an Appointment Online At VaccineJet Or just Walk Right into a
          Centre
        </div>
        <div class="sub">Click here to learn how to book an apointment</div>
      </div>
      <div class="step_card">
        <div class="img">
          <img src="https://www.cowin.gov.in/assets/images/Step_2.svg" />
        </div>
        <div class="main">
          Safely Recive Your Vaccine By Trained Medical Professionals
        </div>
        <div class="sub">
          Click here to learn the Do's and Dont's for getting a vaccine
        </div>
      </div>
      <div class="step_card">
        <div class="img">
          <img src="https://www.cowin.gov.in/assets/images/Step_3.svg" />
        </div>
        <div class="main">
          Download Your Vaccine Certificate and Get Ready for Dose #2
        </div>
        <div class="sub">Click here to learn about the vaccine certificate</div>
      </div>
    </div>
  </body>
</html>
